<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid"><a class="navbar-brand">&nbsp;Tareas</a>
    </div>
</nav>

<div class="modal fade" id="modal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="display-4 font-weight-normal text-center">Team</h4>
                <p class="lean font-weight-normal text-center">
                    Castro Mejía Jonatan Alejandro
                    <br>
                    <img src="http://drive.google.com/uc?export=view&id=18SNevGr5xa0ZxUmHuL1YRUCgI5U48eq8" style="width: 300px; " />
                </p>
            </div>
        </div>
    </div>
</div>